.grid-container {
  display: grid;
}
.grid-container-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-container-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-container-1 {
  grid-template-columns: 1fr;
}

.textCenter {
  text-align: center;
}
